<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @discussion.title %>
</p>

<p>
  <b>Content:</b>
  <%= @discussion.content %>
</p>

<p>
  <b>User:</b>
  <%= @discussion.user_id %>
</p>


<%= link_to 'Edit', edit_discussion_path(@discussion) %> |
<%= link_to 'Back', discussions_path %>
